Treat methods in accordance with the HTTP spec

After @sebsel summoned me in #27 I had a cursory glance at [the request method class](https://github.com/k-next/http/blob/884623a8e90cb00ef223e92c6e102e08c28118c9/src/Http/Request/Method.php). Two things stood out to me, because they have been discussed on another PHP web framework called [Slim](https://www.slimframework.com/). (And because I have been part of those discussions.)

1. You are [applying `strtoupper()` to method names](https://github.com/k-next/http/blob/884623a8e90cb00ef223e92c6e102e08c28118c9/src/Http/Request/Method.php#L59) (line 59). This goes against the HTTP spec as described in [RFC 7230 section 3.1.1.](https://tools.ietf.org/html/rfc7230#section-3.1.1) (emphasis mine):
   
   > The method token indicates the request method to be performed on the target resource. The request **method is case-sensitive**.
   
   See slimphp/Slim#2169 for my filing there.

2. You are limiting methods to [a predefined list](https://github.com/k-next/http/blob/884623a8e90cb00ef223e92c6e102e08c28118c9/src/Http/Request/Method.php#L21-L36). While not strictly against the HTTP spec this will stop people from using drafted methods like [LINK and UNLINK](https://tools.ietf.org/html/draft-snell-link-method-12) unless they go and extend the Method class and all classes that initiate a Method object.
   
   It is probably preferable to check methods against [a regular expression based on the HTTP spec](https://github.com/slimphp/Slim/issues/2156#issuecomment-285043641), e.g. `` /^[[:alnum:]!#$%&'*+\-.^_`|~]+$/i``.
   
   See slimphp/Slim#2156 for the discussion there.

---

The same applies to the Router, which makes [the `strtoupper()` mistake](https://github.com/k-next/http/blob/884623a8e90cb00ef223e92c6e102e08c28118c9/src/Http/Router/Route.php#L123) and includes a hard-coded list of allowed methods both in [the main router](https://github.com/k-next/http/blob/884623a8e90cb00ef223e92c6e102e08c28118c9/src/Http/Router.php#L29-L47) and [its routes](https://github.com/k-next/http/blob/884623a8e90cb00ef223e92c6e102e08c28118c9/src/Http/Router/Route.php#L17-L33). I would treat that as a separate issue, however. For routers to be able to return proper [HTTP 405 errors](https://tools.ietf.org/html/rfc7231#section-6.5.5) it needs to be able to tell what methods are allowed for any route, and the current way of storing routes per method might make that hard as well.